
.navbar{
    background-color: #363b40;
    height: 120px;
    right: 0;
    position: absolute;

    
}

.footer{
    background-color: #363b40;
    height: 87px;
}

.container-fluid{
    height: 500px;   
}



.left-section{
    width: 70%;
    height: 500px;
}

.right-section{
    background-color: #363b4061;
    width: 30%;
    height: 500px;
}

.friends-title{
    margin-top: 90px;
    font-family: Marker Felt, fantasy;
    color: #000000;
}

.title{
    margin-top: 30px;
    font-family: Marker Felt, fantasy;
    color: #000000;
    font-size: 25px;

}




/* CSS */
.button-33 {
  background-color: #08e459;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(59, 122, 83, 0.15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 25px;
  
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.generateBtn{
    margin-left: 33%;
}
.saveBtn{
    margin-left: 25px;
}
.loadBtn{
    margin-left: 25px;
}





